@import url('https: //fonts.googleapis.com/css2? family= BhuTuka+Expanded+One & display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #000000;

}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  border: 10px solid #FFABC9;
  border-radius: 30px;
}

.logo_notitas {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 150px;
  width: 420px;
  height: 420px;
}

p {
  padding: 100px;
  text-align: center;
  color: white;
  font-family: BhuTuka Expanded One;
  font-size: 1.5em;
}

.access {
  width: 320px;
  height: 55px;
  margin-top: 30px;
  margin-bottom: 80px;
  background-color: #000000;
  border: 2px solid #4285F4;
}

button {
  border: 1px solid #000000;
}