@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&display=swap" rel="stylesheet');

* {
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .Notes {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    border: 10px solid #FFABC9;
    border-radius: 30px;
    height: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0.3em;
    font-family: Dancing Script;
  }
  
  .logo_notitas {
    display: flex;
    justify-content: flex-start;
    padding-top:  0px;
    width: 100px;
    height: 100px;
  }
  
  h1 {
    display: flex;
    text-align: center;
    font-family: Dancing Script;
    align-items: center;
    color: #FFABC9;
  }
  
  .logout {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
  }

  main {
    display: flex;
    justify-content: flex-end;
  }

  .add {
    width: 70px;
    height: 70px;
  }
  
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 16.3em;
    border: 3px solid #FFABC9;
    border-radius: 30px;
    font-size: xx-large;
    color: #FFABC9;
    font-family: Indie Flower;
  }